name: 'Generar Documentaci贸n OpenAPI'

on:
  push:
    branches:
      - main

jobs:
  generate-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del c贸digo
        uses: actions/checkout@v2

      - name: Generar documentaci贸n OpenAPI desde URL
        uses: diegoara96/openapi-generator-action@v0.1.3-alpha
        with:
          backend-url: 'https://petstore.swagger.io/v2/swagger.json'  # URL de la especificaci贸n
          output-dir: './generated-docs'
          generator: 'html2'
      - name: Upload OpenApi documentation
        uses: actions/upload-artifact@v4
        with:
          name: fhaas_api_spec.html
          path: generated-docs/index.html
